{% extends 'base.html' %}
{% load static%}
{% block content %}
<script type="js/select.js"></script>
<script src="js/wow.min.js"></script>
         <script>
         new WOW().init();
         $(document).ready(function () {
$("a").click(function () {
    var elementClick = $(this).attr("href");
    var destination = $(elementClick).offset().top;
    if ($.browser.safari) {
        $('body').animate({ scrollTop: destination }, 1100); //1100 - скорость
    } else {
        $('html').animate({ scrollTop: destination }, 1100);
    }
    return false;
});

});
         </script>

<div class = "LOGO">
<img class="wow fadeInUp"src="{% static "images/1.png" %}" style="width:40%">
</div>

<div class="middle wow fadeInUp">
<div class = "SMT">
<span>Welcome to the<br>
schools searching site</span>

<div class="link"><a href="">Learn more ></a></div>
</div>s
<div class = "BAT9">

<div class="middle sec">
<div id="myUs"> </div>
<div class = "MAIN">
<div class = "ONE">
<div class = "UN1">
<img src="{% static "images/un1.jpg" %}">
</div>
<div class = "descriprion">
We help you to choose most comfortable and the best univeristy for your interests and speciallization
</div>
</div>
<br> <br>
<div class = "TWO">
<div class = "UN2">
<img src="{% static "images/un2.jpg" %}">
</div>
<div class = "descriprion">
With us you will graduate univeristy for excellent.  Because you will have interest and comfort to study
</div>

</div>

<div class ="THREE">
<img src="{% static "images/un3.png" %}">
<div class = "descriprion">
Don't worry about your future, because you will have best speciallization
</div>
</div>
</div>

</div>
</div>
</div>


{% endblock %}