{% extends layot.html %}
{% load static%}
{% block content %}

<div class = "UNIVER">Best universities in Kazakhstan 2017-2018 </div>
<div class = "EVERY">
<div class = "UNI1">
<h1>Nazarbayev University </h1>
<img src="{% static "images/nazar.jpeg" %}">

</div>
<div class = "UNI2">
<h1>
Kazakh National University. Al-Farabi</h1>
<img src="{% static "images/UNI2.jpg" %}">
</div>

<div class = "UNI3">
<h1>
Eurasian National University. L.N. Gumilyov </h1>
<img src="{% static "images/un3.JPG" %}">
</div>

<div class = "UN4">
<h1>
South Kazakhstan State University. M. Auezov</h1>
<img src="{% static "images/un4.JPG" %}">
</div>
<div class = "UN5">
<h1> Kazakh Agrotechnical University</h1>
<img src="{% static "images/un5.JPG" %}">
</div>

</div>

{% endblock %}