{% extends 'base.html' %}
{% block content%}
<style>
.list-group-item {
    background-color: transparent;
    color: white;
}
.list-group-item.active{
    background-color: white;
    color: black;

}
h1{
    font-size: 60px;
    color: white;
    margin: 10px;
    margin-bottom: 20px;    
}
</style>
<h1>TOP 5 SCHOOLS:</h1>
<div class="list-group">
        {% for obj in items %}
        <a href="{% url "detail" id=obj.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{obj.name}}</h5>
                <small class="text-muted">School</small>
            </div>
            <p class="mb-1">{{obj.address}}</p>
            <small class="text-muted">{{obj.ent }}</small>
        </a>
        {% endfor %} 
        
</div>
{% endblock content %}