{% extends 'base.html' %}
{% load static%}
{% block content %}
<body >
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <div id="map">
</div>

   <script>
        // Initialize and add the map
        function initMap() {
      
      var collection = new Array();
      var pointMarker = new Array();//store marker in array
      var description = new Array();
      "{% for obj in vacancies %}"
      collection.push(new google.maps.LatLng(parseFloat("{{obj.lat}}"),parseFloat("{{obj.lng}}")));
      description.push(
          '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h1 id="firstHeading" class="firstHeading">{{obj.name}}</h1>'+
          '<div id="bodyContent">'+
          '<p>{%if instance.salary > 0 %}{{instance.salary}} {{instance.currency}} {% else %}Зарплата договорная{% endif %}</p>'+
          '<a href={% url "detail" id=obj.id %}>view more</a>'+
          '</div>'+
          '</div>');
      "{% endfor %}"
      
      
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: collection[0]
      });
      
      var contentString = '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h1 id="firstHeading" class="firstHeading">TEST</h1>'+
          '<div id="bodyContent">'+
          '<p>120000 KZT (TEST)</p>'+
          '<a href=# >view more</a>'
          '</div>'+
          '</div>';
      
      var infowindow = new google.maps.InfoWindow();
       for(var i=0; i<collection.length; i++){
          
          marker = new google.maps.Marker({
                  position: collection[i],
                  map: map,
                  animation: google.maps.Animation.BOUNCE,
                  title: "collection "+i
          });
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
           return function() {
               infowindow.setContent(description[i]);
               infowindow.open(map, marker);
           }
       })(marker, i));
       }
      
      }
      </script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjvFngMfGaJ-brN8xkBMXMLE5uBFzZATQ&callback=initMap">
</script>
</body></html>
  
{% endblock %}